@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este é um prótipo para validar uma ideia de um módulo de Ecommerce.</p>
    <p>Acesse o menu de <a asp-controller="Produtos" asp-action="Index">Produto</a> para cadastrar um produto.</p>    
    <p>Acesse o menu de <a asp-controller="Carrinho" asp-action="Index">Carrinho</a> para adicionar produtos ao Carrinho.</p>
</div>
